build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Testing/

*.o
*.a
*.so
*.la
*.lo
*.mod
*.smod
*.exe

.deps/
.libs/
autom4te.cache/
config.log
config.status
libtool
Makefile

*~
*.bak
*.swp
.DS_Store

.svn/
